<span class="loading-indicator" *ngIf="asyncServ.isLoading()">
    <mat-spinner></mat-spinner>
</span>
<div class="flex-column">
    <h1>Sign up!</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="signup()" class="flex-column">
        <mat-form-field>
            <mat-label for="name">Username:</mat-label>
            <input name="name" matInput type="text" formControlName="username" />
        </mat-form-field>
        <mat-form-field>
            <mat-label for="pwd">Password:</mat-label>
            <input name="pwd" matInput type="password" formControlName="password" />
        </mat-form-field>
        <mat-form-field>
            <mat-label for="rePwd">Password again:</mat-label>
            <input name="rePwd" matInput type="password" formControlName="repass" />
        </mat-form-field>
        <span class="flex-row flex-direction-row-reverse">
            <button mat-raised-button color="primary" type="submit">Sign up</button>
            <button mat-raised-button [routerLink]="'/login'">Back to login</button>
        </span>
    </form>
</div>