<mat-toolbar color="primary" class="primary-toolbar">
    <button mat-icon-button fxHide.gt-xs (click)="openSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <div fxFlex fxLayoutAlign="space-between center" fxLayout fxHide.xs>
        <ng-container *ngFor="let link of getNavLinks()">
            <ng-container [ngSwitch]="link.action">
                <ng-container *ngSwitchCase="'current'">
                    <a id="primary-toolbar-current">
                        <div fxLayoutAlign="center center">
                            <span class="nav-text">{{link.display}}</span>
                        </div>
                    </a>
                </ng-container>
                <ng-container *ngSwitchCase="'route'">
                    <a [routerLink]="'/' +  link.name">
                        <div fxLayoutAlign="center center">
                            <span class="nav-text">{{link.display}}</span>
                        </div>
                    </a>
                </ng-container>
                <ng-container *ngSwitchCase="'click'">
                    <a *ngIf="link.onClick" (click)="link.onClick()">
                        <div fxLayoutAlign="center center">
                            <span class="nav-text">{{link.display}}</span>
                        </div>
                    </a>
                </ng-container>
                <ng-container *ngSwitchDefault>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
    <div fxFlex fxLayoutAlign="flex-end center">Demo Shop</div>
</mat-toolbar>