<mat-nav-list (click)="closeSidenav()">
    <ng-container *ngFor="let link of getNavLinks() | reverse">
        <ng-container [ngSwitch]="link.action">
            <ng-container *ngSwitchCase="'current'">
                <a mat-list-item>
                    <span class="nav-text">{{link.display}}</span>
                </a>
            </ng-container>
            <ng-container *ngSwitchCase="'route'">
                <a mat-list-item [routerLink]="'/' +  link.name">
                    <span class="nav-text">{{link.display}}</span>
                </a>
            </ng-container>
            <ng-container *ngSwitchCase="'click'">
                <a mat-list-item *ngIf="link.onClick" (click)="link.onClick()">
                    <span class="nav-text">{{link.display}}</span>
                </a>
            </ng-container>
            <ng-container *ngSwitchDefault>
            </ng-container>
        </ng-container>
    </ng-container>
</mat-nav-list>