:not(mat-icon) {
  font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
  font-size: x-large;
}

// mat-sidenav,
// mat-toolbar 

mat-sidenav {
  width: 66%;
}

// Disable ripple overlay

.primary-toolbar button ::ng-deep .mat-button-focus-overlay {
    display: none;
}

.primary-toolbar button ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none;
}

// Classes

.nav-text {
  text-transform: capitalize;
}

.nav-current {
  color: red;
  border-color: red;
}