<span class="loading-indicator" *ngIf="asyncServ.isLoading()">
    <mat-spinner></mat-spinner>
</span>
<div class="flex-column">
    <h1>Log in!</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="flex-column">
        <mat-form-field>
            <mat-label for="name">Username:</mat-label>
            <input matInput name="name" type="text" formControlName="username" />
        </mat-form-field>
        <mat-form-field>
            <mat-label for="pwd">Password:</mat-label>
            <input matInput name="pwd" type="password" formControlName="password" />
        </mat-form-field>
        <span class="flex-row flex-direction-row-reverse">
            <button mat-raised-button color="primary" type="submit">Log in</button>
            <button mat-raised-button [routerLink]="'/signup'">Sign up</button>
        </span>
    </form>
</div>