<mat-sidenav-container>
    <mat-sidenav>
        <!-- <app-menu (selectedPage)="changePage($event)" [currentPage]="page"></app-menu> -->
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <!-- <div>
                <ul>
                    <ng-container *ngFor="let ">
                        <li></li>
                    </ng-container>
                </ul>
            </div> -->
        </mat-toolbar>
        <select [(ngModel)]="page" (change)="changePage(page)">
            <ng-container *ngFor="let route of getNavRoutes()">
                <option *ngIf="route.path !== '' && route.path !== '**'" [value]="route.path">{{route.path}}</option>
            </ng-container>
        </select>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
