@use 'sass:map';
@use '@angular/material' as mat;
@include mat.core();

@mixin primary-toolbar-color($theme) {
    $color-config: mat.get-color-config($theme);
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');

    ///// MMADE /////

    //  Layout

    .primary-toolbar,
    .primary-toolbar a {
        border: 0;
        box-sizing: content-box;
    }

    .primary-toolbar div,
    .primary-toolbar a {
        height: 100%;
        width: 100%;
        // color: mat.get-color-from-palette($accent-palette, lighter);
    }

    .primary-toolbar a {
        margin: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        padding-left: .5em;
        padding-right: .5em;
    }

    //  Link animations

    .primary-toolbar a:link,
    .primary-toolbar button:link {
        text-decoration: none;
        color: mat.get-color-from-palette($primary-palette, default-contrast);
    }

    .primary-toolbar a:hover,
    .primary-toolbar button:hover {
        padding-top: .25em;
        padding-bottom: .25em;
        background-color: transparent;
        //background-color: rgba(mat.get-color-from-palette($primary-palette, default-contrast), 0.3);
        border-color: mat.get-color-from-palette($accent-palette, lighter);
        color: mat.get-color-from-palette($accent-palette, lighter);
    }


    .primary-toolbar a:active,
    .primary-toolbar button:active {
        background-color: rgba(mat.get-color-from-palette($primary-palette, lighter), 1);
        border-color: mat.get-color-from-palette($primary-palette, lighter);
        color: mat.get-color-from-palette($primary-palette, darker-contrast);
    }

    // Current page

    #primary-toolbar-current,
    #primary-toolbar-current:hover,
    #primary-toolbar-current:active {
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;
        border-color: mat.get-color-from-palette($primary-palette, lighter);
        color: mat.get-color-from-palette($primary-palette, lighter);
    }

    mat-sidenav {
      width: 66%;
    }
}

@mixin primary-toolbar-typography($theme) {
    // Get the typography config from the theme.
    $typography-config: mat.get-typography-config($theme);

    .content-in-mat-primary {
        font-family: mat.font-family($typography-config);
    }
}

@mixin primary-toolbar-theme($theme) {
    $color-config: mat.get-color-config($theme);

    @if $color-config !=null {
        @include primary-toolbar-color($theme);
    }

    $typography-config: mat.get-typography-config($theme);

    @if $typography-config !=null {
        @include primary-toolbar-typography($theme);
    }
}