
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use './mixins.scss' as mixins;
@use './theme.scss' as custom;

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mixins.primary-toolbar-theme(custom.$theme);


/* You can add global styles to this file, and also import other style files */

html,
body,
mat-sidenav-container,
mat-sidenav-content {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
}

mat-sidenav,
mat-toolbar {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
}

mat-sidenav {
  width: 66%;
}

.page-body {
  width: 90vw;
  height: fit-content;
  box-sizing: border-box;

  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.list-page>* {
  width: 100%;
}

.one-line-page {
  height: 67vh;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  text-align: center;

  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-align: center;

  box-sizing: border-box;
}